<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
 http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <description>shiro权限配置</description>

    <!--安全管理器-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="myRealm"/>
        <property name="cacheManager" ref="cacheManager"/>
    </bean>

    <!--凭证匹配器-->
    <bean id="credentialsMatcher" class="com.zhuhai.shiro.credentials.RetryLimitHashedCredentialsMatcher">
        <constructor-arg ref="cacheManager"/>
        <!--指定hash算法为md5-->
        <property name="hashAlgorithmName" value="SHA-1"/>
        <!--指定散列次数为2次-->
        <!--<property name="hashIterations" value="2"/>-->
        <!--ture表示Hash散列值用Hex加密库，false表示Hash散列值用Base64-encode存储-->
        <property name="storedCredentialsHexEncoded" value="true"/>
    </bean>

    <bean id="myRealm" class="com.zhuhai.shiro.realm.MyRealm">
        <property name="credentialsMatcher" ref="credentialsMatcher"/>
        <!--<property name="cachingEnabled" value="true"/>-->
    </bean>

    <!--shiro过滤器-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/login"/>
        <property name="successUrl" value="/home"/>
        <property name="unauthorizedUrl" value="/403"/>
        <property name="filterChainDefinitions">
            <value>
                /static/** = anon
                /login = anon
                /logout = logout
                /** = authc
            </value>
        </property>
    </bean>
    <!--缓存管理器-->
    <!--<bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager"/>-->
    <bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager"/>
    <!--shiro生命周期处理器-->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>



</beans>