<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhuhai.mapper.UserMapper">

    <cache/>

    <sql id="userColumns">username,password,organization_id,role_ids,locked,update_time,create_time</sql>

    <insert id="createUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_user (<include refid="userColumns"/>) VALUES(#{userName},#{password},#{organizationId},#{roleIds},#{locked},#{updateTime},#{createTime});
    </insert>

    <update id="updateUser" parameterType="User">
        UPDATE sys_user SET username=#{userName},password=#{password},organization_id=#{organizationId},role_ids=#{roleIds},locked=#{locked} where id = #{id}
    </update>

    <delete id="deleteUser" parameterType="long">
        DELETE FROM sys_user WHERE id=#{userId}
    </delete>

    <select id="findById" parameterType="long" resultType="User">
        SELECT id,<include refid="userColumns"/> FROM sys_user WHERE id = #{id}
    </select>

    <select id="findAll" resultType="User">
        SELECT id,<include refid="userColumns"/> FROM sys_user
    </select>

    <select id="findByUserName" parameterType="string" resultType="User">
        SELECT id,<include refid="userColumns"/> FROM sys_user WHERE username = #{userName}
    </select>

</mapper>

